# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytype
.pytype/

# Pyre
.pyre/

# PyCharm
.idea/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# dotenv
.env
.env.*

# Output
*.out
*.mp3
*.wav
*.zip

# Database, Redis, etc.
*.sqlite3
*.db
dump.rdb
